.styledContainer {
    padding: 2rem;
  }
  
  .styledContainer .changetext {
    color: #e93906; /* Update color based on your design */
  }
  
  .styledHeading {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  .styledListHeading {
    color: #e93906;
    font-size: 15px;
  }
  