.container {
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 5rem;
    background-color: #E6F6FA;
  }
  
  .perksTitle {
    font-size: 2.5rem;
    color: #00c0ff;
    text-align: center;
    margin-top: 20px;
  }
  
  .perksTitle span {
    color: #ff6a00;
  }
  
  @media (max-width: 768px) {
    .perksTitle {
      font-size: 1.5rem;
    }
  }
  
  .divider {
    width: 100px;
    height: 5px;
    background: linear-gradient(to right, #00c0ff, #ff6a00);
    margin: 20px auto;
  }
  
  .subtitle {
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 40px;
  }
  
  .perkCard {
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .perkCard:hover {
    transform: scale(1.05);
  }
  
  .perkTitle {
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  @media (max-width: 768px) {
    .perkTitle {
      font-size: 0.8rem;
      text-align: start;
    }
  }
  
  .icon {
    font-size: 2rem;
    margin: 10px;
    width: 50px;
  }
  