/* CallToAction.module.css */

.section {
    position: relative;
    background: linear-gradient(270deg, #05a7cc 0%, #48c4df 100%);
    padding: 90px 0 100px 0;
    overflow: hidden;
    clip-path: ellipse(75% 100% at center top);
    text-align: center;
  }
  
  .backgroundImage {
    position: absolute;
    top: -50px;
    left: -356px;
    right: 0px;
    bottom: -48px;
    background-size: cover;
    -webkit-animation: service_hexagon_2 40s infinite linear;
    -moz-animation: service_hexagon_2 40s infinite linear;
    -o-animation: service_hexagon_2 40s infinite linear;
    animation: service_hexagon_2 40s infinite linear;
  }
  
  @keyframes service_hexagon_2 {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-30px);
    }
  }
  
  @-webkit-keyframes service_hexagon_2 {
    0% {
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
    100% {
      -webkit-transform: rotateY(360deg);
      transform: rotateY(360deg);
    }
  }
  
  @-moz-keyframes service_hexagon_2 {
    0% {
      -moz-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
    100% {
      -moz-transform: rotateY(360deg);
      transform: rotateY(360deg);
    }
  }
  
  @-o-keyframes service_hexagon_2 {
    0% {
      -o-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
    100% {
      -o-transform: rotateY(360deg);
      transform: rotateY(360deg);
    }
  }
  
  .heading {
    font-size: 45px;
    line-height: 56px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
  }
  
  @media (max-width: 992px) {
    .heading {
      font-size: 30px;
      line-height: 40px;
    }
  }
  
  .text {
    margin-bottom: 30px;
    font-size: 16px;
  }
  
  @media (max-width: 992px) {
    .text {
      font-size: 14px;
    }
  }
  
  .ctaButton {
    position: relative;
    overflow: hidden;
    padding: 17px 35px 16px;
    text-align: center;
    z-index: 1;
    color: #111111;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    border: none;
    text-transform: capitalize;
    transition: 0.5s;
    background-color: #fff !important;
    border-radius: 55px;
  }
  
  @media (max-width: 992px) {
    .ctaButton {
      font-size: 14px;
    }
  }
  
  .ctaButton::before,
  .ctaButton::after {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    width: 0%;
    height: 100%;
    content: '';
    z-index: -1;
    background: #ef5226;
    transition: all 900ms ease;
  }
  
  .ctaButton::before {
    left: 0;
    transition: all 900ms ease;
  }
  
  .ctaButton::after {
    right: 0;
    transition: all 900ms ease;
  }
  
  .ctaButton:hover::before,
  .ctaButton:hover::after {
    width: 100%;
  }