.sectionWrapper {
    padding: 40px 0;
    background: #F4FDFF;
  }
  
  .title {
    font-size: 40px;
    color: #ef5226;
    text-align: center;
    margin-bottom: 20px;
  }
  
  @media screen and (max-width: 1024px) {
    .title {
      font-size: 32px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .title {
      font-size: 28px;
    }
  }
  
  .iconWrapper {
    font-size: 40px;
    color: #f26633;
    text-align: left;
    margin-bottom: 10px;
  }
  
  .line {
    width: 177px;
    height: 4px;
    text-align: left;
    background-color: #00bcd4;
    margin: 10px 0;
  }
  
  .cardWrapper {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .description {
    color: #7a7a7a;
    text-align: left;
  }
  
  .animatedSection {
    width: 100%;
  }
  